<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<%# resource_cache(resource) do %> 
	<%= content_tag_for(:li, resource, :class => "row") do %>
		<div class="col-xs-12 page-content"> 
			<% if resource.images.any? %>
			<div class='page-images'>
				<%= render_slideshow_for(resource) %>
=======
=======
>>>>>>> FETCH_HEAD
=======
>>>>>>> FETCH_HEAD
=======
>>>>>>> FETCH_HEAD
<% resource_cache(resource) do %> 
	<%= content_tag_for(:li, resource, :class => "row-fluid") do %>
		<div class="span12 page-content"> 
			<% if resource.images.any? %>
			<div class='page-images'>
				<%= render_slideshow_for(resource, :plugin => 'galleria') %>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> FETCH_HEAD
=======
>>>>>>> FETCH_HEAD
=======
>>>>>>> FETCH_HEAD
=======
>>>>>>> FETCH_HEAD
				<h3 class='slideshow-title'><%= resource.title %></h3>
			</div>
			<% end %>
			<div class='article-content'>
				<b class='snap'></b>
				<%= render_page_title(resource.title) %>
				<hr>
				<%= render_html_text(resource.body) %>
			</div>
		</div>
	<% end %> 
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<%# end %>
=======
<% end %>
>>>>>>> FETCH_HEAD
=======
<% end %>
>>>>>>> FETCH_HEAD
=======
<% end %>
>>>>>>> FETCH_HEAD
=======
<% end %>
>>>>>>> FETCH_HEAD
