<% cache([site, I18n.locale, 'header']) do %>
<!-- Header
================================================== -->
<header class="navbar hide-on-print">
  <div class="navbar-inner">
    <div class="row-fluid">
      <div class="header-top">
          <%#= render 'login_bar' %>
		<%= content_tag(:address, site.preferred_contact_address.html_safe, :id => "site-contact-address") if site.preferred_contact_address.present? && site.preferred_display_contact_address == 'header' %>

          <%= render 'locales_select' %>
      </div>
      <div class="header-nav">
        <!-- Be sure to leave the brand out there if you want it shown -->
        <%= render 'site_title' %>
		<%= content_tag(:h4, site.subtitle.html_safe, :id => "site-subtitle") if site.subtitle.present? %>

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span><%= t(:navigation_menu) %><i class="icon-chevron-down"></i></span>
        </a>
        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse">
          <!-- .nav, .navbar-search, .navbar-form, etc -->
          <%= render_primary_menu %>
		  <hr class="separator">
		  <%= render_menu('pipe') %>
        </div>
      </div>
 	  <div class="footer-nav">
		<%#= render 'socials' %>
	  </div>
    </div>
  </div>
</header>
<% end %>