<div class="contact-icons">
	<ul class="unstyled">
		<li>
			<a href="#" onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=http://<%= site.host %>&amp;t=Contact - <%= site.title %>','Facebook','menubar=0,resizable=1,width=500,height=400'); return false;">
			<img src="/assets/fb_icon.png" alt="facebook" border="0"></a></li><li><a href="#" onclick="window.open('https://twitter.com/intent/tweet?text=Contact - <%= site.title %>&amp;url=http:/<%= site.host %>','Twitter','menubar=0,resizable=1,width=500,height=400'); return false;">
			<img src="/assets/twt_icon.png" alt="Twitter" border="0"></a></li><li><a href="#" onclick="window.open('http://pinterest.com/pin/create/button/?url=http:/<%= site.host %>&amp;media=/assets/logo.png&amp;description=Contact - <%= site.title %>','Pin It','menubar=0,resizable=1,width=500,height=400'); return false;">
			<img src="/assets/pint_icon.png" title="Pin It" border="0"></a></li><li><a href="mailto:?subject=look at this website&amp;body=Hi, I found this website and thought you might like it http://<%= site.host %>">
			<img src="/assets/email_icon.png" alt="Email" border="0"></a>
		</li>
	</ul>
</div>