<!DOCTYPE html>
<html class="no-js">
<%= render 'head' %>
<body id='<%= @body_id %>'>
  <%= render 'navbar' %>
  <%= render 'sidebar' %>
  <div id='page-wrapper'>
    <div class="container">
      <div id="main-row" class='row'>
        <div id="main" class='col-xs-12 <%= @body_id %> '>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' ></script>
  <script src='//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js'></script>
  <%= render 'javascripts' %>
</body>
</html>